<h1>商品一覧</h1>

<%= @products.each do |product| %>
  <p>ジャンル</p>
  <span><%= product.genre_id %></span>
  <p>商品名</p>
  <span><%= product.name %></span>
  <p>価格</p>
  <span><%=  product.price %></span>
  <p>ステータス</p>
  <span><%= product.status %></span>
  <%= link_to 'Show', product_path(@product) %>
<% end %>
