<div class="container">
  <div>
  <%= flash[:notice] %>
  </div>
  <h1>User Top</h1>

  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>ジャンル名検索</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <div>ようこそ、ながのCAKEへ！</div>
      <div>このサイトは、ケーキ販売のECサイトになります。</div>
      <div>館員でない方も閲覧はできますが、</div>
      <div>購入には会員登録が必要になります。</div>
      <%= link_to "すべての商品をみる>", products_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<h2>新着商品</h2>
 <table class="table table-hover table-bordered table-condensed">
        <thead>
          <tr>
            <th>商品名</th>
            <th>税抜価格</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td class="text-left">
              <%= link_to product_path(product), class: "btn-link" do %>
                <%= product.name %>
              <% end %>
	            <%= image_tag product.image, size: '100x100' %>
	          </td>
            <td class="text-right"><%= number_to_currency(product.price, unit: "¥") %></td>
          <% end %>
        </tbody>
      </table>
