<h1>管理者注文履歴一覧</h1>

  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>購入者</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>
    <tbody>
     <% @orders.each do |order| %>
      <tr>
         <td><%= link_to admin_order_path(order) do %>
            <%#= link_to admin_orders_path(order_id: order.id) do %>
            <%= order.created_at.strftime('%Y/%m/%d') %>
           <% end %>
        <td><%= order.shipping_name %></td>
      　<td><%= order.order_products.sum(:quantity) %></td>
        <td><%= order.status_i18n %></td>
       </tr>
    <% end %>
  </tbody>
</table>


