<br>
<div class="container">
  <h2>新規会員登録</h2>
  <%#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signup" }) do |f| %>
  <%= form_for(resource, as: resource_name, url: customer_registration_path, html: { class: "form-signup" }) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :family_name,"姓" %>
          <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :personal_name,"名" %>
          <%= f.text_field :personal_name, autofocus: true, autocomplete: "personal_name", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :family_name_kana,"セイ" %>
          <%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :personal_name_kana,"メイ" %>
          <%= f.text_field :personal_name_kana, autofocus: true, autocomplete: "personal_name_kana", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :post_code,"郵便番号" %>
      <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :address,"住所" %>
      <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :phone_number,"電話番号" %>
      <%= f.telephone_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email,"メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password,"パスワード" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation,"パスワード(確認)" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録", class: "btn btn-primary" %>
    </div>
  <% end %>
  
  <!-- 既に登録済みの方はこちらからログインしてください -->
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <p>すでに登録済みの方は<a href="<%= new_customer_session_path %>">こちら</a>からログインしてください。</p>
    </div>
  </div>

</div>